.env
.env.*
!.env.example
.git
.github
.gitignore
.idea
.vscode
.fleet
.nova
.phpactor.json
.phpunit.result.cache
.phpunit.cache
node_modules
public/build
public/hot
storage/*.key
storage/pail
tests
vendor
*.log
.DS_Store
Thumbs.db
